:css
  html { overflow-x: hidden; }

.row
  .col-md-3
  .col-md-6
    %center
      %h1 Favorite photos list:
      %hr/

%center
  - @user.favorite_photos.each do |photo|
    = image_tag search_photo_by_id(photo.photo_id).urls.thumb

= render "shared/navigation"
