%p
  %span{:style => "color: #808080;"}
    %em If you have any questions please contact me #{mail_to '7arutin@gmail.com'}
    %br/
    This site uses Unsplash API
    = link_to "Unsplash.com/developers", "https://unsplash.com/developers"
