%h1 Welcome to homepage
%p You can find high quality free photos below

= link_to "New search", controller: "photos", action: "new"
= link_to "Previous searches", controller: "photos", action: "index"
%br/
%br/
%br/
= link_to "Want a random photo? Click on this link.", controller: "welcome", action: "show"
%br/