<div class="container">
  <div class="row justify-content-center">
    <div>
      <div class="card-body row no-gutters align-items-center">
          <div class="col">
            <input class="form-control form-control-lg form-control-borderless" type="name" name="photo[name]" id="photo_name" placeholder="Search free photos">
          </div>
          
          <div class="col-auto">
            <button class="btn btn-lg btn-success" type="submit">Search</button>
          </div>
      </div>
    </div>
  </div>
  <br>
</div>