.container
  .row.justify-content-center
    .col-md-6
      #name
        .input-group.col-md-12
          %input#photo_name.form-control.input-lg{:name => "photo[name]", :type => "name"}/
          %span.input-group-btn
            %button.btn.btn-info.btn-lg{:type => "submit"}
              %i.glyphicon.glyphicon-search
  %br/
