<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div id="name">
        <div class="input-group col-md-12">
          <input class="form-control input-lg" type="name" name="photo[name]" id="photo_name">
          <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
